@import "@/styles/app";

// instructor
#aprendizaje {
  font-size: 16px;
  .descLimiter {
    line-height: 1 !important;
    max-width: 11.875em;
    max-height: 7em;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .col+.col {
    .wrapper {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      // grid-gap: 1em;
      background-color: #FAFAFA;
      place-items: center;
      padding-block: 1em;
      border-radius: 15px;
      @media (max-width: 880px) and (max-height: 1180px) {
        grid-template-columns: repeat(2, 1fr) !important;
        grid-gap: .5em !important;
        .botones {grid-column: span 2}
        @media (max-width: 600px) {
          grid-template-columns: repeat(1, 1fr) !important;
          .botones {grid-column: 1/2}
          aside:nth-child(1) {
            flex-direction: column !important;
            margin-bottom: 1em;
          }
        }
      }
      &+.wrapper {margin-top: 2em;}
      span {font-weight: 700;line-height: 24px;
        &>span {margin-left: 0.2em;font-weight: 400;}
      }
      .firstAside {justify-content: flex-start}
      &>aside+aside {
        padding: .5em;
      }
      aside {
        align-items: center;
        justify-content: center;
        @media (max-width: 600px) and (max-height: 1180px) {text-align: center !important}
        &:nth-child(1){
          gap: 1em;
          img {
            width: clamp(8.5em, 10vw, 10em);
            aspect-ratio: 1 / 1;
            border: 1px solid #F3F4F6;
            border-radius: 30px;
            padding: 0.2em;
          }
        }
        &+aside {
          gap: 1em;
        }
        &:last-child {
          & > div {
            gap: 0.5em;
          }
          & div:nth-child(1) {
            button {
              padding: 0;
            }
          }
        }
      }
    }
  }
}
