@import "@/styles/app";

// home
#profile {
  font-size: 16px;
  max-width: 1000px;
  margin-inline: auto;
  .contForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.1em clamp(1em, 4vw, 4em);
    .profesion {
      grid-column: span 2;
    }
  }
  .v-btn {
    background-color: $clr-btn;
    padding: 1.4em;
    filter: $sombra-filter;
    span {
      color: $clr-text-btn;
    }
  }
}
@media (max-width: 880px) and (max-height: 1180px) {
  #profile {
    font-size: 12px;
  }
}
