@import "@/styles/app";

// verCurso
#verCurso {
  font-size: 16px;
  overflow-x: hidden;
  @media (max-width: 600px) and (max-height: 1880px) {font-size: 14px !important}
  @media (max-width: 400px) and (max-height: 1880px) {font-size: 12px !important}

  // stepper config
  // .v-stepper__step__step {
  //   i {color: $clr-text-btn !important}
  //   &.primary {background-color: $clr-btn !important}
  // }
  // .v-stepper__step--complete {
  //   .v-stepper__step__step {display: none !important}
  //   &.v-stepper__step--active {
  //     .v-stepper__label {color: $clr-btn !important}
  //   }
  // }

  // tabs config
  .v-tabs {
    @media (max-width: 880px) and (max-height: 1880px) {flex-direction: column}
    .v-tab {
      white-space: initial !important;
      text-align: start;
    }
  }
  // content config
  h4:not(.titulo) {
    color: #F29627;
    padding: 1em;
    box-shadow: $sombra-card;
    border-radius: 15px;
    margin-bottom: 0;
  }
  h5 {
    color: #FF6B3B !important;
    margin-bottom: 0;
    font-size: var(--step-em--1) !important;
  }
  p {
    padding: 1em;
    font-weight: 500 !important;
    font-size: var(--step-em--2) !important;
  }
  span {
    font-weight: 500 !important;
    font-size: var(--step-em--2) !important;
  }
  .sectionTop {
    --border: 15px;
    width: 99%;
    height: max-content;
    background-color: #FFFFFF;
    border-radius: var(--border);
    margin: auto;
    margin-block: 5px calc(16px * 2);
    >* {
      --size: 0em;
      box-sizing: border-box;
      margin: var(--size);
      border-radius: var(--border);
      box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5) !important;
      width: calc(100% - (var(--size) * 2)) !important;
      height: calc(100% - (var(--size) * 2));
    }
    .embed {height: 450.53px !important}
    #VueDocPreviewRoot {
      --size: 0em;
      box-sizing: border-box;
      margin: var(--size);
      border-radius: var(--border);
      width: calc(100% - (var(--size) * 2)) !important;
      height: calc(100% - (var(--size) * 2)) !important;
      overflow: hidden;
    }
    .v-window__container {
      padding: 2em;
      .v-window-item {
        display: flex;
        flex-direction: column;
        gap: 1.5em;
      }
      ul {
        list-style: none;
        padding: 0;
        padding-right: clamp(0em, 1.5vw, 1.5em);
        gap: 1em;
      }
      .contControls {
        .v-btn {
          background-color: #e4820b !important;
          span {color: #FFFFFF !important}
        }
      }
    }

    // presentar examen
    .warningExamnen {
      display: flex;
      text-align: justify;
      justify-content: center;
      align-items: center;
      height: max-content !important;
      padding: 4em 2em;
    }
  }
}

div#js-licensing {display: none !important}
