@import "@/styles/app";

// creator categorias
#creatorCategoria {
  font-size: 16px;
  .contnombre {
    width: min(100%, 26.125em);
    .v-input__slot {
      background-color: #F3F6F5 !important;
      box-shadow: none !important;
      input {
        font-weight: bold;
      }
    }
  }
  .contimagen {
    gap: clamp(3em, 6vw, 6em);
    aside:nth-child(1) {
      .v-card {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 17em;
        aspect-ratio: 1 / 1;
        height: max-content;
        padding: 0.5em 1em;
        img {
          width: 100%;
          aspect-ratio: 1 / 1;
        }
      }
    }
    .wrapper {
      justify-content: space-between;
      & > div:nth-child(1) {
        gap: 0.5em;
        max-width: max-content;
      }
      & > div+div {
        gap: clamp(1em, 3vw, 3em);
        .v-btn {
          filter: $sombra-filter;
          padding: 0.5em 4em;
          span {color: #FFFFFF !important}
        }
      }
    }
  }
  .contlista {
    margin-top: 2em;
    .v-item-group {
      .v-slide-group__content {
        display: flex;
        gap: 2em;
        .v-card {
          display: flex !important;
          flex-direction: column;
          border: 1px solid #F3F4F6 !important;
          border-radius: 30px !important;
          gap: 0.5em;
          overflow: hidden;
          padding-bottom: 2em;
          width: 14em;
          img {
            width: 100%;
            aspect-ratio: 1 / 1;
          }
          span {
            padding-inline: 1em
          }
        }
      }
    }
  }
}
